/**
 * Main styles
 * @author @cris_dpa
 * Copyright ©2024 Christopher Dí­az Pantoja
 */

:root {
    --primary-color: #fffff;
    --secondary-color: #f572f7;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    color: var(--secondary-color);
}

strong {
    color: var(--secondary-color);
}

section {
    text-align: center;
}

.hero {
    background-image: url('img/anime-bg.jpg');
    background-position: center;
    background-size: cover;
    font-size: 1rem;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.hero__content {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 3;
}

.hero__logo {
    border-radius: 10px;
    margin: 0 0 2em 0;
    padding: 2em;
}

.hero__title {
    font-family: 'Dancing Script', cursive;
    font-size: 6em;
    font-weight: normal;
    line-height: 73px;
    margin: 0 0 .2em 0;
    z-index: 2;
}

.hero__subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    z-index: 2;
}

.hero__guests {
    font-size: 1.2em;
    margin: 0;
    text-shadow: 1px 1px 2px #221e1f;
}

.hero__details {
    -webkit-backdrop-filter: blur(48px);
    backdrop-filter: blur(48px);
    border-radius: 10px;
    max-width: 800px;
    padding: 3em 2em;
    width: 80%;
}

.hero__date {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin: 0;
}

.hero__time {
    font-size: 1.4em;
    margin: 0;
}

.main {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 2rem;
}

.section {
    padding: 2rem 0;
}

.section__title {
    font-size: 2em;
    margin: 1em 0 3rem 0;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
}

.section__subtitle {
    font-size: 1.5em;
    margin: 1em 0 2rem 0;
}

.location__content,
.gifts__content {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.location__place,
.gifts__option {
    width: 100%;
}

.location__place:first-of-type {
    border-bottom: 1px dashed var(--secondary-color);
    padding-bottom: 2em;
}

.location-time {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    margin-top: .5em;
}

.audio-button {
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    bottom: 1rem;
    cursor: pointer;
    height: 50px;
    left: auto;
    overflow: hidden;
    position: fixed;
    right: 1rem;
    top: auto;
    width: 50px;
    z-index: 2;
}

.audio-button--playing .audio-button__play{
    display: none;
}

.audio-button__play,
.audio-button__pause {
    height: 31px;
    margin: 7px;
    width: 31px;
}

.audio-button__pause {
    font-size: 2rem;
}

.footer {
    background-color: #2c0e2c;
    font-size: .8rem;
    padding: 1rem 3rem;
    text-align: center;
}

@media (min-width: 400px) {
    .hero {
        font-size: 1.1rem;
    }
}

@media (min-width: 1000px) {
    .hero {
        height: auto;
        padding: 4rem 0;
    }

    .hero__title {
        font-size: 7em;
        font-weight: normal;
        line-height: 87px;
    }

    .hero__subtitle {
        font-size: 2em;
    }

    .location__content,
    .gifts__content {
        align-items: flex-start;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }

    .location__place:first-of-type,
    .gifts__option:first-of-type {
        border-bottom: none;
        border-right: 1px dashed var(--secondary-color);
        padding-bottom: 0
    }
}