/**
 * Main styles
 * @author @cris_dpa
 * Copyright ©2024 Christopher Dí­az Pantoja
 */

:root {
    --primary-color: #fffff;
    --secondary-color: #edc207;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #f6f5f5;
    color: #3c2701;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    color: var(--secondary-color);
}

strong {
    color: var(--secondary-color);
}

section {
    text-align: center;
}

.overlay-intro {
    align-items: center;
    background-image: url('img/flowers-bg.jpg');
    background-position: center;
    background-size: cover;
    bottom: 0;
    display: flex;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}

.overlay-intro::before {
    background-color: rgba(255, 255, 255, .65);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.overlay-intro__content {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 2;
}

.overlay-intro__title {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    margin: 0;
}

.overlay-intro__subtitle {
    margin: 0;
}

.overlay-intro__link-primary {
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.overlay-intro__link-secundary {
    color: grey;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.hero {
    background-image: url('img/flowers-bg.jpg');
    background-position: center;
    background-size: cover;
    font-size: 1rem;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.hero__content {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 3;
}

.hero__logo {
    border-radius: 10px;
    margin: 0 0 2em 0;
    padding: 2em;
}

.hero__title {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    font-weight: normal;
    line-height: 73px;
    margin: 0 0 .2em 0;
    z-index: 2;
}

.hero__subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    z-index: 2;
}

.hero__guests {
    font-size: 1.2em;
    margin: 0;
}

.hero__details {
    background-color: rgba(251,238,207, .7);
    border-radius: 10px;
    max-width: 500px;
    padding: 3em 2em;
    width: 80%;
}

.hero__date {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin: 0;
}

.hero__time {
    font-size: 1.4em;
    margin: 0;
}

.main {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 2rem;
}

.section {
    padding: 2rem 0;
}

.section__title {
    font-size: 2em;
    margin: 1em 0 3rem 0;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
}

.section__subtitle {
    font-size: 1.5em;
    margin: 1em 0 2rem 0;
}

.location__content,
.gifts__content {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.location__place,
.gifts__option {
    width: 100%;
}

.gifts__option {
    font-size: 1.2em;
    line-height: 2em;
}

.location__place:first-of-type {
    border-bottom: 1px dashed var(--secondary-color);
    padding-bottom: 2em;
}

.location-time {
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    margin-top: .5em;
}

.audio-button {
    border-radius: 50%;
    border: 2px solid #3c2701;
    bottom: 1rem;
    cursor: pointer;
    height: 50px;
    left: auto;
    overflow: hidden;
    position: fixed;
    right: 1rem;
    top: auto;
    width: 50px;
    z-index: 2;
}

.audio-button--playing .audio-button__play{
    display: none;
}

.audio-button__play,
.audio-button__pause {
    height: 31px;
    margin: 7px;
    width: 31px;
}

.audio-button__pause {
    font-size: 2rem;
}

.assistance-confirmation {
    background-color: #fcf3de;
    font-size: 1.2rem;
    padding: 2rem;
}

.assistance-confirmation__button {
    all: unset;
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #916c15;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    padding: 0 26px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

.section-gifts {
    background-color: #fcf3de;
    padding: 2rem;
}

.section-dresscode {
    padding: 2rem;
}

.section-dresscode .section__title {
    line-height: 3rem;
}

.section-dresscode__type {
    font-size: 1.4em;
}

.confirmation-dialog {
    background-color: #fcf3de;
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    padding: 2em;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.confirmation-dialog__form {
    background-color: #fcf3de;
}

body:has(dialog[open]) {
    overflow: hidden;
}

.confirmation-dialog__close {
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 1;
}

.footer {
    background-color: white;
    font-size: .8rem;
    padding: 1rem 3rem;
    text-align: center;
}

@media (min-width: 400px) {
    .hero {
        font-size: 1.1rem;
    }
}

@media (min-width: 1000px) {
    .hero {
        height: auto;
        padding: 4rem 0;
    }

    .hero__title {
        font-size: 7em;
        font-weight: normal;
        line-height: 87px;
    }

    .hero__subtitle {
        font-size: 2em;
    }

    .location__content,
    .gifts__content {
        align-items: flex-start;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }

    .location__place:first-of-type,
    .gifts__option {
        border-bottom: none;
        border-right: 1px dashed var(--secondary-color);
        padding-bottom: 0
    }

    .gifts__content {
        margin: 0 auto;
        max-width: 1000px;
    }

    .gifts__option:last-of-type {
        border-right: none;
    }

    .confirmation-dialog {
        border: chocolate 2px solid;
        border-radius: 20px;
        height: 90%;
        max-height: 753px;
        max-width: 600px;
        width: 90%;
    }
}